<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814957090307-cik02318tupbshum2sq0k9tsu0f5pg9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814957090307-cik02318tupbshum2sq0k9tsu0f5pg9l</string>
	<key>API_KEY</key>
	<string>AIzaSyAYj3mspk2pYyz2KrfPS_fJwc1tIzlaZbg</string>
	<key>GCM_SENDER_ID</key>
	<string>814957090307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rdl.ecm</string>
	<key>PROJECT_ID</key>
	<string>rdl-e-cm</string>
	<key>STORAGE_BUCKET</key>
	<string>rdl-e-cm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814957090307:ios:8a7c071cbe085e0dfa6036</string>
</dict>
</plist>